<?xml version="1.0"?>

<model>
  <name>orange_juice_hohesc</name>
  <version>1.0</version>
  <sdf version="1.5">orange_juice_hohesc.urdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    orange_juice_hohesc
  </description>
</model>
